In [49]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow import feature_column
from tensorflow.keras import layers

In [50]:
df = pd.read_csv('color_pedigree.csv')

In [28]:
df.head()

,base_color_male,with_white_male,base_color_female,with_white_female,prediction_color
0,black,1,black,0,black
1,black,0,black,1,black
2,black,1,black,1,black
3,black,0,black,0,black
4,blue,0,blue,0,blue

In [29]:
train, test = train_test_split(df, test_size=0.2)

# Input Pipeline

In [30]:
# EXERCISE: A utility method to create a tf.data dataset from a Pandas Dataframe.

def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    dataframe = dataframe.copy()
    
    # Use Pandas dataframe's pop method to get the list of targets.
    labels = dataframe.pop('prediction_color')
    
    # Create a tf.data.Dataset from the dataframe and labels.
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    
    if shuffle:
        # Shuffle dataset.
        ds = ds.shuffle(buffer_size=len(dataframe))
        
    # Batch dataset with specified batch_size parameter.
    ds = ds.batch(batch_size)
    
    return ds

In [31]:
batch_size = 4 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [42]:
train_ds

<BatchDataset element_spec=({'base_color_male': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'with_white_male': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'base_color_female': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'with_white_female': TensorSpec(shape=(None,), dtype=tf.int64, name=None)}, TensorSpec(shape=(None,), dtype=tf.string, name=None))>

In [32]:
for feature_batch, label_batch in train_ds.take(1):
    print('Every feature:', list(feature_batch.keys()))
    print('A batch of base color female:', feature_batch['base_color_female'])
    print('A batch of preds color:', label_batch )

Every feature: ['base_color_male', 'with_white_male', 'base_color_female', 'with_white_female']
A batch of base color female: tf.Tensor([b'black tortie' b'black tortie' b'blue' b'creme'], shape=(4,), dtype=string)
A batch of preds color: tf.Tensor([b'red' b'black tortie' b'blue tortie' b'blue tortie'], shape=(4,), dtype=string)

In [33]:
example_batch = next(iter(train_ds))[0]
# A utility method to create a feature column and to transform a batch of data.
def demo(feature_column):
    feature_layer = layers.DenseFeatures(feature_column, dtype='float64')
    print(feature_layer(example_batch).numpy())

In [43]:
# EXERCISE: Fill in the missing code below
feature_columns = []


numeric_columns =['with_white_male', 'with_white_female']

for header in numeric_columns:
    # Create a numeric feature column  out of the header.
    numeric_feature_column = feature_column.numeric_column(header)
    
    feature_columns.append(numeric_feature_column)



# Indicator Cols.
# Create a categorical vocabulary column out of the categories
# ['fixed', 'normal', 'reversible'] with the key specified as 'thal'.
base_color_female = feature_column.categorical_column_with_vocabulary_list('base_color_female', ['black', 'blue', 'red', 'creme', 'black tortie', 'blue tortie'])

# Create an indicator column out of the created thal categorical column
base_color_female_one_hot = feature_column.indicator_column(base_color_female)

feature_columns.append(base_color_female_one_hot)


# Indicator Cols.
# Create a categorical vocabulary column out of the categories
# ['fixed', 'normal', 'reversible'] with the key specified as 'thal'.
base_color_male = feature_column.categorical_column_with_vocabulary_list('base_color_male', ['black', 'blue', 'red', 'creme'])

# Create an indicator column out of the created thal categorical column
base_color_male_one_hot = feature_column.indicator_column(base_color_male)

feature_columns.append(base_color_male_one_hot)

In [44]:
# EXERCISE: Create a Keras DenseFeatures layer and pass the feature_columns you just created.
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [45]:
batch_size = 4
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [48]:
model = tf.keras.Sequential([
        feature_layer,
        layers.Dense(128, activation='relu'),
        layers.Dense(128, activation='relu'),
        layers.Dense(1, activation='softmax')
])

model.compile(optimizer='adam',
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=test_ds,
          epochs=100)

Epoch 1/100
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'base_color_male': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=string>, 'with_white_male': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=int64>, 'base_color_female': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'with_white_female': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=int64>}. Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'base_color_male': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=string>, 'with_white_male': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=int64>, 'base_color_female': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'with_white_female': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=int64>}. Consider rewriting this model with the Functional API.

UnimplementedError: Graph execution error:

Detected at node 'categorical_crossentropy/Cast' defined at (most recent call last):
    File "C:\Anaconda3\lib\runpy.py", line 197, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Anaconda3\lib\runpy.py", line 87, in _run_code
      exec(code, run_globals)
    File "C:\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
      app.launch_new_instance()
    File "C:\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
      app.start()
    File "C:\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
      self.io_loop.start()
    File "C:\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
      self.asyncio_loop.run_forever()
    File "C:\Anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
      self._run_once()
    File "C:\Anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
      handle._run()
    File "C:\Anaconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
      await self.process_one()
    File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
      await dispatch(*args)
    File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
      await result
    File "C:\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
      reply_content = await reply_content
    File "C:\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
      res = shell.run_cell(code, store_history=store_history, silent=silent)
    File "C:\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
      return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
    File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
      result = self._run_cell(
    File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
      return runner(coro)
    File "C:\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
      if (await self.run_code(code, result,  async_=asy)):
    File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\WINDOW~1\AppData\Local\Temp/ipykernel_8012/2470387912.py", line 12, in <module>
      model.fit(train_ds,
    File "C:\Anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 64, in error_handler
      return fn(*args, **kwargs)
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 1384, in fit
      tmp_logs = self.train_function(iterator)
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 1021, in train_function
      return step_function(self, iterator)
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 1010, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 1000, in run_step
      outputs = model.train_step(data)
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 860, in train_step
      loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Anaconda3\lib\site-packages\keras\engine\training.py", line 918, in compute_loss
      return self.compiled_loss(
    File "C:\Anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 201, in __call__
      loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Anaconda3\lib\site-packages\keras\losses.py", line 141, in __call__
      losses = call_fn(y_true, y_pred)
    File "C:\Anaconda3\lib\site-packages\keras\losses.py", line 245, in call
      return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Anaconda3\lib\site-packages\keras\losses.py", line 1779, in categorical_crossentropy
      y_true = tf.cast(y_true, y_pred.dtype)
Node: 'categorical_crossentropy/Cast'
Cast string to float is not supported
	 [[{{node categorical_crossentropy/Cast}}]] [Op:__inference_train_function_8277]

# Experiment Without Pipeline

In [12]:
df = pd.read_csv('color_pedigree.csv')

In [13]:
df.head()

,base_color_male,with_white_male,base_color_female,with_white_female,prediction_color
0,black,1,black,0,black
1,black,0,black,1,black
2,black,1,black,1,black
3,black,0,black,0,black
4,blue,0,blue,0,blue

In [14]:
X = df.drop('prediction_color', axis=1)
y = df['prediction_color']

In [15]:
X

    base_color_male  with_white_male base_color_female  with_white_female
0             black                1             black                  0
1             black                0             black                  1
2             black                1             black                  1
3             black                0             black                  0
4              blue                0              blue                  0
..              ...              ...               ...                ...
123           creme                0               red                  1
124           creme                0             creme                  1
125           creme                0      black tortie                  1
126           creme                0      black tortie                  1
127           creme                0       blue tortie                  1

[128 rows x 4 columns]

In [16]:
X = pd.get_dummies(X)

In [17]:
X

,with_white_male,with_white_female,base_color_male_black,base_color_male_blue,base_color_male_creme,base_color_male_red,base_color_female_black,base_color_female_black tortie,base_color_female_blue,base_color_female_blue tortie,base_color_female_creme,base_color_female_red
0,1,0,1,0,0,0,1,0,0,0,0,0
1,0,1,1,0,0,0,1,0,0,0,0,0
2,1,1,1,0,0,0,1,0,0,0,0,0
3,0,0,1,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,1,0,0,1,0,0,0,0,0,0,1
124,0,1,0,0,1,0,0,0,0,0,1,0
125,0,1,0,0,1,0,0,1,0,0,0,0
126,0,1,0,0,1,0,0,1,0,0,0,0
127,0,1,0,0,1,0,0,0,0,1,0,0

In [18]:
y

0             black
1             black
2             black
3             black
4              blue
           ...
123             red
124           creme
125    black tortie
126             red
127     blue tortie
Name: prediction_color, Length: 128, dtype: object

In [19]:
X.shape

(128, 12)

In [20]:
y = pd.get_dummies(y)

In [21]:
y

     black  black tortie  blue  blue tortie  creme  red
0        1             0     0            0      0    0
1        1             0     0            0      0    0
2        1             0     0            0      0    0
3        1             0     0            0      0    0
4        0             0     1            0      0    0
..     ...           ...   ...          ...    ...  ...
123      0             0     0            0      0    1
124      0             0     0            0      1    0
125      0             1     0            0      0    0
126      0             0     0            0      0    1
127      0             0     0            1      0    0

[128 rows x 6 columns]

In [22]:
model = tf.keras.Sequential([
        tf.keras.layers.Dense(128, input_dim=12, activation='relu'),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dense(6, activation='softmax')
])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X,y,epochs=100)

Epoch 1/100
4/4 [==============================] - 1s 2ms/step - loss: 1.7683 - accuracy: 0.2188
Epoch 2/100
4/4 [==============================] - 0s 3ms/step - loss: 1.6616 - accuracy: 0.3906
Epoch 3/100
4/4 [==============================] - 0s 2ms/step - loss: 1.5791 - accuracy: 0.3750
Epoch 4/100
4/4 [==============================] - 0s 2ms/step - loss: 1.5054 - accuracy: 0.3750
Epoch 5/100
4/4 [==============================] - 0s 3ms/step - loss: 1.4449 - accuracy: 0.3750
Epoch 6/100
4/4 [==============================] - 0s 3ms/step - loss: 1.3869 - accuracy: 0.3672
Epoch 7/100
4/4 [==============================] - 0s 2ms/step - loss: 1.3241 - accuracy: 0.3984
Epoch 8/100
4/4 [==============================] - 0s 2ms/step - loss: 1.2584 - accuracy: 0.4453
Epoch 9/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1886 - accuracy: 0.5156
Epoch 10/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1119 - accuracy: 0.5703
Epoch 11/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0383 - accuracy: 0.6328
Epoch 12/100
4/4 [==============================] - 0s 2ms/step - loss: 0.9644 - accuracy: 0.7109
Epoch 13/100
4/4 [==============================] - 0s 2ms/step - loss: 0.8945 - accuracy: 0.7422
Epoch 14/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8238 - accuracy: 0.7734
Epoch 15/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7580 - accuracy: 0.7812
Epoch 16/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7006 - accuracy: 0.7891
Epoch 17/100
4/4 [==============================] - 0s 2ms/step - loss: 0.6443 - accuracy: 0.7891
Epoch 18/100
4/4 [==============================] - 0s 2ms/step - loss: 0.5984 - accuracy: 0.7891
Epoch 19/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5576 - accuracy: 0.7891
Epoch 20/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5201 - accuracy: 0.7969
Epoch 21/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4897 - accuracy: 0.7969
Epoch 22/100
4/4 [==============================] - 0s 2ms/step - loss: 0.4655 - accuracy: 0.7891
Epoch 23/100
4/4 [==============================] - 0s 2ms/step - loss: 0.4433 - accuracy: 0.7969
Epoch 24/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4314 - accuracy: 0.7656
Epoch 25/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4091 - accuracy: 0.7969
Epoch 26/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3947 - accuracy: 0.8047
Epoch 27/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.7812
Epoch 28/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3771 - accuracy: 0.7656
Epoch 29/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3662 - accuracy: 0.8047
Epoch 30/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8047
Epoch 31/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.7969
Epoch 32/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3486 - accuracy: 0.8125
Epoch 33/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.7656
Epoch 34/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.7969
Epoch 35/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.7969
Epoch 36/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3315 - accuracy: 0.7969
Epoch 37/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8125
Epoch 38/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3253 - accuracy: 0.7969
Epoch 39/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3238 - accuracy: 0.7734
Epoch 40/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3212 - accuracy: 0.7812
Epoch 41/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3167 - accuracy: 0.8125
Epoch 42/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3198 - accuracy: 0.7812
Epoch 43/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3162 - accuracy: 0.7891
Epoch 44/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3132 - accuracy: 0.7891
Epoch 45/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3099 - accuracy: 0.7969
Epoch 46/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3085 - accuracy: 0.7969
Epoch 47/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3162 - accuracy: 0.7578
Epoch 48/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3069 - accuracy: 0.7969
Epoch 49/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3049 - accuracy: 0.8047
Epoch 50/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3057 - accuracy: 0.7734
Epoch 51/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3054 - accuracy: 0.7812
Epoch 52/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3007 - accuracy: 0.7734
Epoch 53/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3039 - accuracy: 0.8125
Epoch 54/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3025 - accuracy: 0.7891
Epoch 55/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3005 - accuracy: 0.7969
Epoch 56/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.7656
Epoch 57/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2989 - accuracy: 0.7969
Epoch 58/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2964 - accuracy: 0.8047
Epoch 59/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2952 - accuracy: 0.7969
Epoch 60/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2969 - accuracy: 0.7969
Epoch 61/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2945 - accuracy: 0.7969
Epoch 62/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2939 - accuracy: 0.8047
Epoch 63/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2922 - accuracy: 0.7969
Epoch 64/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2939 - accuracy: 0.7734
Epoch 65/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2903 - accuracy: 0.7969
Epoch 66/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2943 - accuracy: 0.7891
Epoch 67/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2897 - accuracy: 0.8203
Epoch 68/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2921 - accuracy: 0.7891
Epoch 69/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2903 - accuracy: 0.8047
Epoch 70/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2899 - accuracy: 0.7891
Epoch 71/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2895 - accuracy: 0.7812
Epoch 72/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2945 - accuracy: 0.7969
Epoch 73/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2897 - accuracy: 0.7969
Epoch 74/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2866 - accuracy: 0.8047
Epoch 75/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2893 - accuracy: 0.7734
Epoch 76/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2852 - accuracy: 0.8125
Epoch 77/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2847 - accuracy: 0.8281
Epoch 78/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2861 - accuracy: 0.7891
Epoch 79/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2897 - accuracy: 0.8125
Epoch 80/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2870 - accuracy: 0.7891
Epoch 81/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2970 - accuracy: 0.8125
Epoch 82/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2888 - accuracy: 0.7891
Epoch 83/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2845 - accuracy: 0.7891
Epoch 84/100

4/4 [==============================] - 0s 2ms/step - loss: 0.2872 - accuracy: 0.7812
Epoch 85/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2831 - accuracy: 0.7812
Epoch 86/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2896 - accuracy: 0.8125
Epoch 87/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2840 - accuracy: 0.7969
Epoch 88/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2869 - accuracy: 0.7969
Epoch 89/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2842 - accuracy: 0.8125
Epoch 90/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2832 - accuracy: 0.7969
Epoch 91/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2818 - accuracy: 0.7891
Epoch 92/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2819 - accuracy: 0.8203
Epoch 93/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2813 - accuracy: 0.7891
Epoch 94/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2838 - accuracy: 0.7969
Epoch 95/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2813 - accuracy: 0.8125
Epoch 96/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2791 - accuracy: 0.7812
Epoch 97/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2819 - accuracy: 0.7812
Epoch 98/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2821 - accuracy: 0.7734
Epoch 99/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2855 - accuracy: 0.7812
Epoch 100/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2826 - accuracy: 0.8125

In [23]:
X

,with_white_male,with_white_female,base_color_male_black,base_color_male_blue,base_color_male_creme,base_color_male_red,base_color_female_black,base_color_female_black tortie,base_color_female_blue,base_color_female_blue tortie,base_color_female_creme,base_color_female_red
0,1,0,1,0,0,0,1,0,0,0,0,0
1,0,1,1,0,0,0,1,0,0,0,0,0
2,1,1,1,0,0,0,1,0,0,0,0,0
3,0,0,1,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,1,0,0,1,0,0,0,0,0,0,1
124,0,1,0,0,1,0,0,0,0,0,1,0
125,0,1,0,0,1,0,0,1,0,0,0,0
126,0,1,0,0,1,0,0,1,0,0,0,0
127,0,1,0,0,1,0,0,0,0,1,0,0

In [25]:
X.loc[0]

with_white_male                   1
with_white_female                 0
base_color_male_black             1
base_color_male_blue              0
base_color_male_creme             0
base_color_male_red               0
base_color_female_black           1
base_color_female_black tortie    0
base_color_female_blue            0
base_color_female_blue tortie     0
base_color_female_creme           0
base_color_female_red             0
Name: 0, dtype: int64

In [26]:
model.predict([[1,0,1,0,0,0,1,0,0,0,0,0]])

array([[9.9304318e-01, 6.9550704e-03, 1.6843439e-06, 1.5928801e-07,
        4.3682244e-09, 3.7006529e-08]], dtype=float32)